.navbar {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #5383e8;
  border-bottom: 1px solid #466ec4;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

.ul a {
  float: left;
  color: rgba(255, 255, 255, 0.609);
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
  background-color: #5383e8;
  padding: 14px 16px;
}

.ul a:hover {
  color: white;
  border-bottom: 3px solid white;
}
